@model Artist
<h1>@Model.Name</h1>
<p>@Model.Description</p>
<hr />
<ul>
	@foreach (var show in Model.HeadlineShows.OrderBy(s => s.Date))
	{
		<li>
			@show.Date
			@show.Venue.Name
			<country-flag venue="@show.Venue" />
		</li>
	}
</ul>
